body {background-color:#2fbdba; text-align: justify;font-size:18px;}
h1{text-align:center;background-color:rgb(3, 87, 7); color:#2fbdba;}
h3{text-align:justify;color:rgb(3, 87, 7)#1f7a79;;}
b{color:#2fbdba;font-size:18px;}
i{color:#2fbdba;font-size:18px;}
header,{background-color:#499cba;color;}