body {background-color:#74d1ee; text-align: justify;font-size:18px;}
h1{text-align:center;background-color:rgb(33, 236, 243); color:#2fbdba;}
h3{text-align:justify;color:rgb(42, 240, 223)#1f7a79;}
b{color:#121414;font-size:18px;}
i{color:#011312;font-size:18px;}
header,footer{background-color:#499cba;}