body {background-color:#021318; text-align: justify;font-size:18px;}
h1{text-align:center;background-color:rgb(1, 13, 14); color:#011d1c;}
h3{text-align:justify;color:rgb(42, 240, 223)#1f7a79;}
b{color:#121414;font-size:18px;}
i{color:#011312;font-size:18px;}
header,footer{background-color:#499cba;}